table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    text-align: left;
}

.colone {
    writing-mode: vertical-lr;
    text-orientation: upright;
    background: yellow;
    font-weight: 700;
}

.days {
    color: rgb(241, 162, 13);
}

h2 {
    color: rgb(51, 104, 172);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h3 {
    background-color: yellow;
    padding: 1px;
    width: fit-content;
    margin: 1em auto;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}